<form action="<%= route %>/login" method="post"  id="loginForm">
    <h1>Login Form</h1>
   
    <label for="email">
        <input type="text" name="email" placeholder="Email">
    </label>
    <label for="password">
        <input type="text" name="password" placeholder="Password">
    </label>
    <label for="register">
        <button type="submit">Login</button>
    </label>
</form>