<form action="<%= route %>/register" method="post" id="registerForm">
    <h1>Register Form</h1>
    <label for="name">
        <input type="text" name="name" placeholder="Name">
    </label>
    <label for="email">
        <input type="text" name="email" placeholder="Email">
    </label>
    <label for="password">
        <input type="text" name="password" placeholder="Password">
    </label>
    <label for="register">
        <button type="submit">Register</button>
    </label>
</form>