<h1>Contact</h1>

<form action="" method="post" id="contactForm">
    <label for="name">
        <input type="text" placeholder="Name">
    </label>
    <label for="email">
        <input type="text" placeholder="Email">
    </label>
    <label for="message">
        <textarea name="message"  cols="30" rows="10" placeholder="Message"></textarea>>
    </label>
    
</form>