<form action="<%= routePost %>/create" method="post" id="createPost" enctype="multipart/form-data">
    <h1>Create Post</h1>

    <label for="cover-photo">
        <input type="file" name="coverPhoto">
    </label>
    <label for="tech-Stack">
        <input type="text" name="techStack" placeholder="Tech Stack">
    </label>
    <label for="title">
        <input type="text" name="title" placeholder="Title">
    </label>
    <label for="description">
        <input type="text" name="desc" placeholder="Description">
    </label>
    <label for="author-name">
        <input type="text" name="authorName" placeholder="Author Name">
    </label>
    <label for="create post">
        <button type="submit">Create</button>
    </label>
</form>